[Unit]
Description=Run Ballast agent approximately every minute
ConditionPathExists=!/etc/ballast-agent_not_to_be_run
ConditionPathExists=/etc/ballastrc
Wants=network.target
Requires=ballast-agent.service

[Timer]
OnUnitActiveSec=50
RandomizedDelaySec=20

[Install]
WantedBy=timers.target
